@import '../../../scss/abstracts/variables';

.overlay {
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  background-color: $color-light-xl;
  border-radius: 2rem;
}

.popup-message__text,
.button__close {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.6rem;
  color: $color-dark;
}

.button__close {
  border-color: $color-main;
  padding: 0 2.4rem;

  &:hover {
    cursor: pointer;
  }
}
