<div class="statistic">
  <div class="statistic__container">
    <div class="statistic__overall">
      <h2>Общая статистика за день</h2>
      <ul>
        <li><span>Количество новых слов:</span><span>0</span></li>
        <li><span>Количество изученных слов:</span><span>0</span></li>
        <li><span>Процент правильных ответов:</span><span>0</span></li>
      </ul>
    </div>
    <div class="statistic__games">
      <h2>Статистика по играм за день</h2>
      <div class="statistic__game">
        <h3>Аудиовызов</h3>
        <ul>
          <li><span>Количество новых слов:</span><span>0</span></li>
          <li><span>Процент правильных ответов:</span><span>0</span></li>
          <li><span>Cамая длинная серия правильных ответов:</span><span>0</span></li>
        </ul>
      </div>
    </div>
  </div>
</div>
