<header class="header">
  <div class="wrapper header__wrapper">
    <div class="header__left">
      <h1 class="header_logo"><a routerLink="/">LangDice</a></h1>
      <nav class="header__navigation">
        <ul class="navigation">
          <li class="navigation__item" [ngClass]="{ navigation__item_active: hasRoute('/') }">
            <a routerLink="/">Главная</a>
          </li>
          <li class="navigation__item" [ngClass]="{ navigation__item_active: hasRoute('/textbook') }">
            <a routerLink="/textbook">Учебник</a></li>
          <li
            class="navigation__item"
            (mouseenter)="showDropDown()"
            [ngClass]="{ navigation__item_active: dropdownMenu && !hasRoute('/game-audio-call'),
            navigation__item_route: hasRoute('/game-audio-call')}"
          >
            <a href="#">Мини-игры</a>
          </li>
          <li class="navigation__item" [ngClass]="{ navigation__item_active: hasRoute('/stats') }">
            <a routerLink="/stats">Статистика</a>
          </li>
        </ul>
      </nav>
      <app-dropdown-menu
        class="header__dropdown-menu"
        *ngIf="dropdownMenu"
        (mouseleave)="dropdownMenu = false"
      >
        <a
          class="dropdown-menu-link"
          [ngClass]="{ active: hasRoute('/game-audio-call') }"
          routerLink="/game-audio-call"
          first
          >Аудиовызов</a
        >
        <a
          class="dropdown-menu-link"
          [ngClass]="{ active: hasRoute('/game-sprint') }"
          routerLink="/game-sprint"
          second
          >Спринт</a
        >
      </app-dropdown-menu>
    </div>
    <app-authorization-buttons
      *ngIf="!authorized"
      (typeOfAuthShown)="displayPopup($event)"
    ></app-authorization-buttons>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <app-user-account *ngIf="authorized"></app-user-account>
  </div>
</header>

<app-popup-message
  *ngIf="messagePopupDisplayed"
  [message]="stateMessage"
  (typeOfAuthShown)="displayPopup($event)"
></app-popup-message>

<app-register
  *ngIf="registerPopupDisplayed"
  (typeOfAuthShown)="displayPopup($event)"
  (stateMessage)="displayPopupMessage($event)"
></app-register>

<app-login
  *ngIf="loginPopupDisplayed"
  (typeOfAuthShown)="displayPopup($event)"
  (stateMessage)="displayPopupMessage($event)"
  (stateAuth)="setAuth($event)"
></app-login>
