<header class="header">
  <div class="wrapper header__wrapper">
    <div class="header__left">
      <h1 class="header_logo"><a href="#">LangDice</a></h1>
      <nav class="header__navigation">
        <ul class="navigation">
          <li class="navigation__item navigation__item_active"><a href="#">Главная</a></li>
          <li class="navigation__item"><a href="#">Учебник</a></li>
          <li class="navigation__item"><a href="#">Мини-игры</a></li>
          <li class="navigation__item"><a href="#">Статистика</a></li>
        </ul>
      </nav>
    </div>
    <div class="buttons">
      <button class="button button_login">Login</button>
      <button class="button button_sign-up">Sign Up</button>
    </div>
  </div>
</header>
