* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  min-height: 100%;
  font-size: 10px;
  font-family: 'Raleway', sans-serif;
}

body {
  background: linear-gradient(167.91deg, #1A1A1A 8.35%, #1D1056 96.28%);
  background-repeat: no-repeat;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}
