<div class="user-account" (mouseenter)="dropdownMenu = true" (mouseleave)="dropdownMenu = false">
  <span class="user-account__name">{{ userName }}</span>
  <div class="background-wrapper">
    <div class="user-pic user-account__pic">
      <img src="../../../assets/img/acc-img.png" class="user-pic__image" alt="user-pic" />
    </div>
  </div>
  <app-dropdown-menu class="user-account__dropdown-menu" *ngIf="dropdownMenu">
    <a class="dropdown-menu-link" href="/" first>Главная</a>
    <a class="dropdown-menu-link" second (click)="logOut()">LogOut</a>
  </app-dropdown-menu>
</div>
