$color-main: #6200ea;
$color-light-xl: #f5f5f5;
$color-light-l: #e3e3e3;
$color-black: #000000;
$text-shadow-hover: #6200ea 1px 1px 10px, #6200ea -1px -1px 10px, #6200ea -1px 1px 10px, #6200ea 1px -1px 10px;
$transition-link-hover: ease-in-out 0.3s;
$color-dark: #303733;
$color-gray-l: #E8ECF2;
$color-gray-soft: #7D8FAB;
$color-dark-s: #303030;
$color-gray: rgba(224, 224, 224, 0.5);
$color-gray-dark: #303030;
$color-blue-l: #64b5f6;
$color-blue-soft: rgba(100, 181, 246, 0.5);
$color-green: green;
$color-green-soft: #81c784;
$color-green-l: #7AAA72;
$color-green-s: rgba(173, 255, 47, 0.5);
$color-green-xl: rgba(129, 199, 132, 0.5);
$color-yellow: #fff176;
$color-yellow-xl: rgba(255, 241, 118, 0.5);
$color-orange: #de7553;
$color-red: red;
$color-red-xl: rgba(222, 39, 39, 0.5);
$color-brown: rgba(222, 117, 83, 0.5);
$color-brown-xl: rgba(229, 115, 115, 0.5);
$color-pink-intense: #FC7575;
$color-pink-xl: #e57373;
$color-dark-l: #1A1A1A;