$color-main: #6200ea;
$color-light-xl: #f5f5f5;
$color-black: #000000;
$color-black-s: #1A1A1A;
$text-shadow-hover: #6200ea 1px 1px 10px, #6200ea -1px -1px 10px, #6200ea -1px 1px 10px, #6200ea 1px -1px 10px;
$transition-link-hover: ease-in-out 0.3s;
$color-dark: #303733;
$color-gray-l: #E8ECF2;
$color-gray-soft: #7D8FAB;
$color-dark-s: #303030;
$color-light-l: #e3e3e3;
$color-gray-dark: #303030;
$color-gray-s: #e0e0e080;

$color-group-1: #b196db;
$color-group-2: #ffb7f4;
$color-group-3: #f17efc;
$color-group-4: #9a59b7;
$color-group-5: #5d3b7f;
$color-group-6: #362656;
$color-hard: #ce354e;
$color-learned: #418337;

$color-hard-back: #be626e;
$color-learn-back: #7AAA72;