$color-main: #6200ea;
$color-light-xl: #f5f5f5;
$color-light-l: #e3e3e3;
$color-black: #000000;
$text-shadow-hover: #6200ea 1px 1px 10px, #6200ea -1px -1px 10px, #6200ea -1px 1px 10px, #6200ea 1px -1px 10px;
$transition-link-hover: ease-in-out 0.3s;
$color-dark: #303733;
$color-gray-l: #E8ECF2;
$color-gray-soft: #7D8FAB;
$color-dark-s: #303030;