<section class="sprint">
  <div class="sprint__top-panel">
    <div class="top-panel__score">696969</div>
    <ul class="top-panel__step">
      <li class="step__item step__item-active"></li>
      <li class="step__item"></li>
      <li class="step__item"></li>
    </ul>
    <div class="top-panel__timer">60</div>
  </div>
  <ul class="sprint__achieves">
    <li class="achieves__item achieves__item-active"></li>
    <li class="achieves__item"></li>
    <li class="achieves__item"></li>
    <li class="achieves__item"></li>
  </ul>
  <div class="sprint__word">
    <div class="word__target">achieve</div>
    <div class="word__translate">достижение</div>
  </div>
  <div class="sprint__separator"></div>
  <div class="sprint__selection-button">
    <button class="selection-button"><span class="button-arrow m-r">&#8678;</span>неверно</button>
    <button class="selection-button">верно<span class="button-arrow m-l">&#8680;</span></button>
  </div>
</section>
