<section class="sprint">
  <div class="sprint__top-panel">
    <div class="top-panel__score">696969</div>
    <ul class="top-panel__step">
      <li class="step__item step__item-active"></li>
      <li class="step__item"></li>
      <li class="step__item"></li>
    </ul>
    <div class="top-panel__timer">60</div>
  </div>
  <ul class="sprint__achieves">
    <li class="achieves__item achieves__item-active"></li>
    <li class="achieves__item"></li>
    <li class="achieves__item"></li>
    <li class="achieves__item"></li>
  </ul>
</section>
