@import '~src/scss/abstracts/variables';

img {
  display: block;
  width: 100%;
}

.description {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  column-gap: 8rem;
  margin-bottom: 12rem;
}

.description__content {
  width: 600px;
}

.description__image {
  cursor: pointer;

  img {
    transition: 0.2s;

    &:hover {
      filter: drop-shadow(4px 6px 8px black) hue-rotate(45deg);
    }
  }
}

h2 {
  font-size: 4rem;
  font-weight: 400;
  margin-bottom: 5rem;
  color: white;
}

.advantages {
  text-align: center;
  margin-bottom: 12rem;
  color: $color-light-xl;
}

.card__title {
  font-size: 2.5rem;
  margin: 1.6rem 0;
}

.card__img {
  height: 266px;
}

.card__description {
  font-size: 1.6rem;
}

.advantages__cards {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 6rem;
  cursor: pointer;

  .advantages__card {
    width: 280px;
    transition: 0.1s;

    &:hover {
      transform: scale(103%);
    }
  }
}

.team {
  text-align: center;
  color: $color-light-xl;
  margin-bottom: 6rem;
}

.team__members {
  list-style: none;
  display: flex;
  gap: 4rem;
}

.team__member {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.member__avatar {
  width: 200px;

  img {
    border-radius: 50%;
    transition: $transition-link-hover;

    &:hover {
      filter: drop-shadow(2px 4px 6px $color-main);
      cursor: pointer;
      transform: scale(101%);
    }
  }
}

.member__name {
  font-size: 3rem;
  text-transform: uppercase;
}

.member__role {
  font-size: 2rem;
}

.member__description {
  font-size: 1.6rem;
}

.member__github {
  font-size: 2rem;

  a {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: currentColor;
    transition: $transition-link-hover;

    &:hover {
      text-shadow: $text-shadow-hover;
    }
  }
}

.github__logo {
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url('~src/assets/img/github.svg') no-repeat center/30px;
}

.advantages h2,
.team h2 {
  font-weight: 600;
}
