@import 'abstracts/variables';
@import 'abstracts/placeholders';

@import 'base/normalize';
@import 'base/typography';
@import 'base/supplement';

@import 'layout/wrapper';

app-root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

app-header,
app-footer {
  flex: 0 0 auto;
}
