<footer class="footer">
  <div class="wrapper footer__wrapper">
    <div class="footer__rs-school">
      <a href="https://rs.school/js/" class="rs-school__link" target="_blank"></a>
    </div>
    <div class="footer__year">© 2022</div>
    <div class="footer__github">
      <ul class="github-list">
        <li class="github-list__item">
          <a href="https://github.com/sokolw" class="github-list__link" target="_blank"><span class="link__img"></span>Sokolw</a>
        </li>
        <li class="github-list__item">
          <a href="https://github.com/PavelZabalotny" class="github-list__link" target="_blank"><span class="link__img"></span>PavelZabalotny</a>
        </li>
        <li class="github-list__item">
          <a href="https://github.com/wex2" class="github-list__link" target="_blank"><span class="link__img"></span>Wex2</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
