<div class="container">
  <div class="wrapper" [ngClass]="{
  'group-1':this.group===0,
  'group-2':this.group===1,
  'group-3':this.group===2,
  'group-4':this.group===3,
  'group-5':this.group===4,
  'group-6':this.group===5,
  'group-7':this.group===6,
  'learned':this.isLearned}">
    <div class="game__container">
      <button
        class="game__btn game__btn-audio-call"
        routerLink="/game-audio-call"
        [queryParams]="{'group':this.group,'page':this.page}"
      >Аудио вызов</button>
      <button
        class="game__btn game__btn-sprint"
        routerLink="/game-sprint"
        [queryParams]="{'group':this.group,'page':this.page}"
      >Спринт</button>
    </div>
    <app-text-book-group-controls
      class="flex"
      (groupChanged)="groupChanged($event)"
      [isAuthorized]="isAuthorized"
    ></app-text-book-group-controls>
    <div class="scroll">
      <app-text-book-word
        (learnedWord)="setLearnedPage($event)"
        class="word__container"
        [words]="words | async"
        [isAuthorized]="isAuthorized"
        [group]='group'
      ></app-text-book-word>
      <mat-spinner *ngIf="isLoading" class="spinner"></mat-spinner>
    </div>
    <app-text-book-page-controls
      class="page-controls"
      (pageChanged)="pageChanged($event)"
      [page]="page"
      [collectionSize]="collectionSize" [isLearned]="isLearned"
    ></app-text-book-page-controls>
  </div>
</div>